[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emuR"]
	path = emuR
	url = https://github.com/ips-lmu/emur
[submodule "wrassp"]
	path = wrassp
	url = https://github.com/ips-lmu/wrassp
